@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-orange-500: #f97316;
}

body {
  @apply bg-zinc-950 text-white font-sans antialiased;
}
